<!DOCTYPE html>
<html>
  <head>
    <title>CapybaraStimulus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <div data-controller="hello">
      <div data-hello-target="output">
        Placeholder which will be overwritten by app/javascript/controllers/hello_controller.rb
      </div>
    </div>

  </body>
</html>
